@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}




body {
    background-color: background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Roboto', arial, helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin: 0;
}

h1,h3 {
    color: #fff;
    margin: 8px;
}

h1 {
    font-size: 27px;
}

h3 {
    font-size: 25px;
    color: yellow;
}

.box {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}

.box p {
    font-size: 20px;
    text-align: center;
    max-width: 80%;
}

img {
    padding: 100px;
    max-width: 100%;
}

.boximg {    
    color: #fff;
    background-color: transparent;
    margin: 200px;
    border-radius:0;
    box-shadow: none;    
}
